body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
 
  .save-container {
    background-color: rgb(232, 17, 168);
    border:#000000;
    border-width: 10%;
  }
   
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 12px solid black ;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d2e6f3;
    color: white;
  }
  
  .present {
    background-color: #ff6254;
    color: white;
  }
  
  .future {
    background-color: #71f371;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #91d7e7;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .fa-save {
    font-size: 2rem;
  }


 */